@font-face {
    font-family: 'GE_SS_Two_Light';
    src: url('../fonts/GE_SS_Two_Light.otf') format('opentype');
}
@font-face {
    font-family: 'GE_SS_Two_Medium';
    src: url('../fonts/GE_SS_Two_Medium.otf') format('opentype');
}
.transparentBtn{
    background:transparent;
    border:none;
}

.navbar-item{
    margin-right:16px;
    margin-top:4px;
}

.boldedItem{
    font-weight:bold !important;
}

.line{
    width: 66%;
    min-width:200px;
    height: 0% !important;
    border-bottom: 1px solid white;
}

a {
    color:white;
    text-shadow:none !important;
}

span.icon-bar {
    background: white;
}

.navbar-nav>li>a {
    line-height: 12px !important;
}

.font-light{
  font-family: GE_SS_Two_Light;
}

.font-meduim{
    font-family:GE_SS_Two_Medium;
}